# {{ .Name }} build
steps:
  - mkimg: {{ `"{{ output }}"` }}
    size: {{ .Size }}
    format: {{ .Format }}
    compress: {{ .Compress }}
  - mklabel: msdos
    device: {{ `"{{ output }}"` }}
  - mkpart: primary
    device: {{ `"{{ output }}"` }}
    start: 1M
    end: 100%
    tag: root
  - kpartx: {{ `"{{ output }}"` }}
  - mkfs: ext4
    partition: root
  - mount: root
  - unpack-rootfs: root
  - debootstrap: {{ .Release }}
    target: root
    mirror: {{ .Mirror }}
{{- if gt (len .Components) 0 }}
    components:
  {{- range $component := .Components }}
      - {{ $component }}
  {{- end }}
{{- end }}
    unless: rootfs_unpacked
{{- if not .NoVirtuals  }}
  - virtual-filesystems: root
{{- end }}
{{- if gt (len .Packages) 0 }}
  - apt: install
    tag: root
    packages:
  {{- range $package := .Packages }}
      - {{ $package }}
  {{- end }}
    unless: rootfs_unpacked
{{- end }}
{{- if .Cache  }}
  - cache-rootfs: root
    unless: rootfs_unpacked
{{- end }}
{{- range $overlay := .Overlays }}
  - copy-dir: /
    src: {{ $overlay }}
{{- end }}
{{- if .Scripts }}
  - chroot: root
    shell: |
{{ .PostBuild }}
{{- end }}
  - fstab: root
  - grub: bios
    tag: root
{{- if gt (len .Kernel) 0 }}
    kernel-params:
  {{- range $param := .Kernel }}
      - {{ $param }}
  {{- end }}
{{- end }}
{{- if .Ramdisk }}
  - ramdisk: root
{{- end }}
