# https://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

[*.py]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2
insert_final_newline = true

[*.json]
insert_final_newline = unset

[Makefile]
indent_style = tab

[*.{bat,ps1}]
end_of_line = crlf

[*.{xml,xslt}]
indent_size = 2

[*.md]
insert_final_newline = true
trim_trailing_whitespace = true

[Dockerfile*]
indent_size = 2